<h1>Nearby Locations</h1>
<div class="mt10">
 <% unless @pizza_locations.nil? %>
 	<% @pizza_locations.each do |location| %>
		<div class="highlight">
			<div class="col-md-3"><%= image_tag location.primary_photo_url(:thumb) %></div>
			<div class="col-md-9 content">
				<h3><%= link_to location.name, location %></h3>
				<p><%= location.complete_address %></p>				
			</div>
		</div>
	<% end %>
 <% else %>
 <% end %>
</div>